.ant-dropdown-menu.ant-dropdown-menu {
  background: #0F0B30;
  color: #fff;
}
.ant-dropdown-menu-item.ant-dropdown-menu-item {
  color: #fff;
}

.ant-dropdown-menu-item.ant-dropdown-menu-item:hover {
  background: transparent;
  color: #3E98FF;
}


#root header {
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav {

  &-left {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 115px;
      height: 115px;
    }

    span {
      font-size: 2rem;
      line-height: 4.4rem;
      letter-spacing: 1px;
    }
  }

  &-right {
    button {
      font-size: 1.4rem;
      letter-spacing: 1px;
      padding: 12px 22px;
    }
  }
}
